# Google Gemini API Configuration
GOOGLE_API_KEY=YOUR_KEY

# Gemini Model Configuration
GEMINI_MODEL=gemini-2.5-flash-lite
GEMINI_EMBEDDING_MODEL=text-embedding-004

# External APIs
SERPER_API_KEY=YOUR_KEY
KANOON_API_KEY=YOUR_KEY